@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-image: linear-gradient(to right, #ee5b00ee, #998f8973);
}
p{
    text-align: justify;
}

main{
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 5px 5px 15px black;
}
h1{
    color: #f39209;
    text-align: center;
}
h2{
    color: #125189;
}
footer > p{
    text-align: center;
    font-size: 20px;
    color: white;

}