body{
    background-color: #18181b;
    text-align: center;
    color: white;
    align-items: center;
}
.voltar{
    font-size: 20px;
    font-weight: bolder;
}
h1{
    font-size: 40px;
    font-weight: bolder;
}